.rootContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.playerName {
}

.loaderAnimation {
    width: 1rem;
}

.waitingForPlayerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.waitingMessage {
    margin-bottom: 0;
}

.sessionId {
    font-size: 4em;
    margin: 0;
}
