@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.circle {
  position: absolute;
  z-index: 1;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  width: 50%;
  height: 50%;

  border: 1vw solid #5d4954;
  border-radius: 50%;

  font-size: 3.5vw;
}

.dark {
  background: black;
}

.light {
  background: white;
}

.animationFromRight {
  animation: .5s linear 0s 1 slideInFromRight;
}

.animationFromLeft {
  animation: .5s linear 0s 1 slideInFromLeft;
}

.animationFromTop {
  animation: .5s linear 0s 1 slideInFromTop;
}

.animationFromBottom {
  animation: .5s linear 0s 1 slideInFromBottom;
}

.ghost {
  cursor: pointer;
  animation: glow 1.5s infinite alternate-reverse linear;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.4);
  transition: box-shadow .25s ease;
  filter: brightness(1.25);
}

.ghost:hover {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.75);
}

@keyframes glow {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}
