.root {
    width: 12vw;
    height: 46vw;
    position: relative;
}

.svgContainer {
    position: absolute;
    left: 0;
    width: 100%;
}

.button {
    position: absolute;
    font-size: 1.5vw;
    left: 0;
    width: 100%;
    background: none;
    margin: 0;
    padding-top: 12%;
    padding-bottom: 60%;
}

.button:hover, .button:focus {
    background: none;
}

.movesNrContainer {
    font-size: 1.25vw;
    opacity: 1;
    position: absolute;
    width: 100%;
    top: 4vw;
    transition: opacity;
    transition-duration: 0.1s;
    transition-delay: 2s;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.movesNr {
    font-size: 3em;
}
