* {
  background-color: unset;
}

.board {
  background-image: url("../../../assets/board.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-areas:
          "opponent4 opponent3 opponent2 opponent1 opponent0 opponent15 opponent14 opponent13"
  "battle5 battle6 battle7 battle8 battle9 battle10 battle11 battle12"
  "player4 player3 player2 player1 player0 player15 player14 player13";
  padding: 5px;
}

.board > div {
  aspect-ratio: 1;
}

.square {
  width: 100%;
}
